@charset "utf-8";
/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case 4

   Author: Gabriel Fuentes
   Date: 1.16.19


   Filename: mc_forms.css




*/

form {
    background-color: #1600D4;
    margin: 0 auto;
    height: 25%;
}

div {
   display: inline;
   clear: both;
   width: 45%;
   padding: 0 10px; 
   margin: 0 auto;
}

div#leftCol {
    float: left;
}

div#rightCol {
    
}

div#subCan {
    
}